@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "Twemoji";
  src: url("./assets/fonts/twemoji.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer base {
  .emoji {
    font-family: "Twemoji", "Segoe UI Emoji", "Apple Color Emoji", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    letter-spacing: normal;
    white-space: nowrap;
  }
}